@charset 'UTF-8';

:root {
    --primary-color: #12549a;
    --light-primary: #4298e9;
    --dark-primary: #1d4f87;
    --gray: #d4d0d0;
    --white: #efecec;
    --black: #0b0b0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--white);
}
